#titulo {
    color: orange;
    font-size: 25px;
}

.azul {
    color: cornflowerblue;
    font-size: 25px;
}

.amarelo {
    color: rgba(255, 255, 0, 0.973);
    font-size: 25px;
}

body {
    background-color:darkseagreen
}


